<a href="https://colab.research.google.com/github/rabulhasan/CIS3920-Projects/blob/main/sneaker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Sneaker = read.csv("/Sneaker.csv")

In [3]:
Order.Date <- as.Date.character(Sneaker$Order.Date , "%m/%d/%Y")

In [4]:
Release.Date <- as.Date.character(Sneaker$Release.Date , "%m/%d/%Y")

In [5]:
head(Sneaker)

  Order.Date Brand  Sneaker.Name                                  Sale.Price
1 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-Low-V2-Beluga          $1,097
2 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Copper   $685
3 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Green    $690
4 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Red      $1,075
5 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017 $828
6 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017 $798
  Retail.Price Release.Date Shoe.Size Buyer.Region
1 $220         9/24/2016    11.0      California
2 $220         11/23/2016   11.0      California
3 $220         11/23/2016   11.0      California
4 $220         11/23/2016   11.5      Kentucky
5 $220         2/11/2017    11.0      Rhode Island
6 $220         2/11/2017     8.5      Michigan

In [10]:
Sale.Price	 <- as.data.frame.integer(Sneaker$Sale.Price)

In [11]:
head(Sneaker)

  Order.Date Brand  Sneaker.Name                                  Sale.Price
1 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-Low-V2-Beluga          $1,097
2 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Copper   $685
3 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Green    $690
4 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Red      $1,075
5 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017 $828
6 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017 $798
  Retail.Price Release.Date Shoe.Size Buyer.Region
1 $220         9/24/2016    11.0      California
2 $220         11/23/2016   11.0      California
3 $220         11/23/2016   11.0      California
4 $220         11/23/2016   11.5      Kentucky
5 $220         2/11/2017    11.0      Rhode Island
6 $220         2/11/2017     8.5      Michigan

In [12]:
typeof(Sale.Price)

[1] "list"

In [14]:
typeof(Sneaker$Sale.Price)

[1] "character"

In [16]:
??type.convert

In [17]:
Sneaker <- type.convert(Sneaker)

Warning message in type.convert.default(x[[i]], ...):
“'as.is' should be specified by the caller; using TRUE”
Warning message in type.convert.default(x[[i]], ...):
“'as.is' should be specified by the caller; using TRUE”
Warning message in type.convert.default(x[[i]], ...):
“'as.is' should be specified by the caller; using TRUE”
Warning message in type.convert.default(x[[i]], ...):
“'as.is' should be specified by the caller; using TRUE”
Warning message in type.convert.default(x[[i]], ...):
“'as.is' should be specified by the caller; using TRUE”
Warning message in type.convert.default(x[[i]], ...):
“'as.is' should be specified by the caller; using TRUE”
Warning message in type.convert.default(x[[i]], ...):
“'as.is' should be specified by the caller; using TRUE”
Warning message in type.convert.default(x[[i]], ...):
“'as.is' should be specified by the caller; using TRUE”

In [18]:
head(Sneaker)

  Order.Date Brand  Sneaker.Name                                  Sale.Price
1 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-Low-V2-Beluga          $1,097
2 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Copper   $685
3 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Green    $690
4 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Red      $1,075
5 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017 $828
6 9/1/2017    Yeezy Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017 $798
  Retail.Price Release.Date Shoe.Size Buyer.Region
1 $220         9/24/2016    11.0      California
2 $220         11/23/2016   11.0      California
3 $220         11/23/2016   11.0      California
4 $220         11/23/2016   11.5      Kentucky
5 $220         2/11/2017    11.0      Rhode Island
6 $220         2/11/2017     8.5      Michigan